.theme-main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  z-index: 9999;
  background: rgba(0,0,0,0.5);
}
.navbar-nav {
  display: flex;
  flex-direction: row;
}
li {
  padding: 4px 8px;
}

a {
  color: #fff;
  text-decoration: none;
}
